<div id="<%= model.camelName%>Form" class="modal hide fade" ng-init="$scope.<%= model.camelName%> = {{{= JSON.stringify(<%= model.camelName%>) }}}" 
     role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <form ng-submit="$scope.save()">
        <fieldset>
            <div class="modal-header">
                {{{- html.tag('button', 'x', {type:'button', 'data-dismiss':'modal', 'aria-hidden':'true', 'class':'close'}) }}}
                {{{- html.tag('h4', '<%= model.label%>') }}}
            </div>
            <div class="modal-body">
                <% for(var f in model.fields){%>

                <% }%>
                <div class="clear"></div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    {{{- html.tag('button', 'Close', {type:'button', 'data-dismiss':'modal', 'aria-hidden':'true', 'class':'btn'}) }}}
                    {{{- html.tag('button','Delete',{'ng-confirm':'Are you sure?', 'ng-show':'<%= model.camelName%>.id && true || false','class':'btn btn-danger','ng-click':'$scope.remove()'}) }}}
                    {{{- html.tag('button','Save',{'class':'btn btn-primary',type:'submit'}) }}}
                </div>
            </div>
        </fieldset>
    </form>
</div>