<div class="dataList" ng-controller="<%= model.camelName%>Controller" ng-init="<%= model.camelName%>Columns = {{{= JSON.stringify(<%= model.camelName%>Columns) }}}; init();" >
    <div class="row-fluid span12 dataCommands">
        {{{- html.tag('a','Add <%= model.label%>',{'class':'btn btn-primary', role:'button', 'data-toggle':'modal',
        href:'#<%= model.camelName%>Form', 'ng-click':'$scope.<%= model.camelName%> = null'}) }}}
    </div>
    {{{- include form }}}
    <div class="row-fluid ">
        <div grid></div>
    </div>
</div>
