<form ng-controller="clientController" ng-submit="updateSettings()" ng-init="client = <%= JSON.stringify(client) %>; getAccountingSystemTypes(); accountingServerTypes = <%= JSON.stringify(client.getServerTypes()) %>">
    <div class="alert alert-block">
        <strong><%= 'Important' %></strong> <%= 'Use this form to set up a connection between the accounting system and '+settings.params.appName+' Portal.' %>
    </div>
    <div class="alert alert-error" ng-show="settingsFail">
        <strong><%= 'Error' %></strong> <%= 'Settings were not saved. Please contact the administrator.' %>
    </div>
    <div class="alert alert-success" ng-show="settingsOk">
        <strong><%= 'Success' %></strong> <%= 'The information has been updated.' %>
    </div>
    <fieldset>
        <%- html.tag('legend','Accounting Server')%>
        <div class="row-fluid">
            <div class="span6">
                <%- html.label('Accounting System')%>
                <%- html.select(client,'accounting_system_type_id', {angular:true, 'ng-required': true, 
                'ng-options':'s.id as s.accounting_system_type_name for s in accountingSystemTypes', 'class':'input-xlarge'})%>
                <%- html.label('Server Type')%>
                <%- html.select(client,'server_type', {angular:true, 'ng-required': true,
                'ng-options':'s.code as s.label for s in accountingServerTypes', 'class':'input-xlarge'})%>
                <%- html.label('Server Address')%>
                <%- html.input(client,'server_address', {angular:true, 'ng-required':true, 'class':'input-xlarge'})%>
                <%- html.label('Server Port')%>
                <%- html.input(client,'server_port', {angular:true, 'ng-required':true, 'class':'input-small'})%>
            </div>
            <div class="span6">
                <%- html.label('Database Name')%>
                <%- html.input(client,'dbname', {angular:true, 'ng-required':true, 'class':'input-xlarge'})%>
                <%- html.label('Database User')%>
                <%- html.input(client,'dblogin', {angular:true, 'ng-required':true, 'class':'input-xlarge'})%>
                <%- html.label('Database Password')%>
                <%- html.input(client,'dbpassword', {angular:true, 'ng-required':true, 'class':'input-xlarge', 'type':'password'})%>
                <%- html.label('Accounts Payable Code')%>
                <%- html.input(client,'accounts_payable_code', {angular:true, 'ng-required': false, 'class':'input-xlarge'})%>
            </div>
        </div>
        <div class="btn-group clear">
            <%- html.tag('button','Verify Connection',{'class':'btn btn-info',type:'button'})%>
            <%- html.tag('button','Save',{'class':'btn',type:'submit'})%>
        </div>
    </fieldset>
</form>