<div id="userForm" class="modal hide fade" ng-init="user = <%= JSON.stringify(user)%>" 
     role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <form ng-submit="userSave()">
        <fieldset>
            <div class="modal-header">
                <%- html.tag('button', 'x', {type:'button', 'data-dismiss':'modal', 'aria-hidden':'true', 'class':'close'})%>
                <%- html.tag('h4', 'User')%>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span6">
                        <%- html.label('First name')%>
                        <%- html.input(user,'first_name', {angular:true, 'ng-required': true})%>
                        <%- html.label('Email address')%>
                        <%- html.input(user,'email', {angular:true, 'ng-required':true})%>
                    </div>
                    <div class="span6">
                        <%- html.label('Last name')%>
                        <%- html.input(user,'last_name', {angular:true, 'ng-required': true})%>
                        <%- html.label('Job Title')%>
                        <%- html.input(user,'job_title', {angular:true, 'ng-required': false})%>
                    </div>
                </div>
                <%- html.tag('legend','Location Information')%>
                <div class="row-fluid">
                    <div class="span6">
                        <%- html.label('Address')%>
                        <%- html.input(user,'address', {angular:true, 'ng-required': false, 'class':'input-xlarge'})%>
                        <%- html.label('Address #2')%>
                        <%- html.input(user,'address2', {angular:true, 'ng-required': false, 'class':'input-xlarge'})%>
                        <%- html.label('City')%>
                        <%- html.input(user,'city', {angular:true, 'ng-required': false, 'class':'input-xlarge'})%>
                    </div>
                    <div class="span6">
                        <%- html.label('Postal Code')%>
                        <%- html.input(user,'zip_code', {angular:true, 'ng-required': false, 'class':'input-small'})%>
                        <%- html.label('Phone')%>
                        <%- html.input(user,'phone', {angular:true, 'ng-required': false, 'class':'input-large'})%>
                        <%- html.label('State')%>
                        <%- html.select(user,'state_id', {angular:true, 'ng-required': true, 'ng-options':'s.id as s.state_name for s in states'})%>
                    </div>
                </div>
                <%- html.tag('legend','Account Information')%>
                <%- html.tag('span','Leave password blank if you do not wish to update it.', {'class':'label label-default'})%>
                <div class="row-fluid">
                    <div class="span6">
                        <%- html.label('Username')%>
                        <%- html.input(user,'username', {angular:true, 'ng-required': true, 'class':'input-large'})%>
                        <%- html.label('Role')%>
                        <%- html.select(user,'user_role_id', {angular:true, 'ng-required': true, 'ng-options':'s.id as s.user_role_name for s in userRoles'})%>
                    </div>
                    <div class="span6">
                        <%- html.label('Password')%>
                        <%- html.input(user,'password', {angular:true, type: 'password', 'ng-required':'!(user.id && true || false)'})%>
                        <%- html.label('Confirm password')%>
                        <%- html.input(user,'confirm', {angular:true, type: 'password', 'ng-required':'!(user.id && true || false)'})%>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <%- html.tag('button', 'Close', {type:'button', 'data-dismiss':'modal', 'aria-hidden':'true', 'class':'btn'})%>
                    <%- html.tag('button','Inactivate',{'ng-confirm':'Are you sure?', 'ng-show':'user.id && true || false',
                    'class':'btn btn-danger','ng-click':'user.is_deleted = true',type:'submit'})%>
                    <%- html.tag('button','Save',{'class':'btn btn-primary',type:'submit'})%>
                </div>
            </div>
        </fieldset>
    </form>
</div>