<form ng-controller="userController" ng-submit="login()">
    <div class="alert alert-error" ng-show="loginFailed">
        <strong><%= 'Error' %></strong> <%= 'Invalid credentials.' %>
    </div>
    <fieldset>
        <%- html.tag('legend','Sign in')%>
        <%- html.label('Username')%>
        <%- html.input(user,'username', {angular:true, 'ng-required': true})%>
        <%- html.label('Password')%>
        <%- html.input(user,'password', {angular:true, type: 'password', 'ng-required': false})%>
        <br />
        <button type="submit" class="btn">{{ 'Login' | t }}</button>
    </fieldset>
</form>